# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Kaj H.P. Stolle
email: k.h.p.stolle@tue.nl
description: >- # this means to ignore newlines until "baseurl:"
  PhD Student in Assistive Vibrotactile Technology for Navigation at Eindhoven University of Technology.
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
#twitter_username: username
github_username: KajSto
theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "dirt" # "default" "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Kaj H.P. Stolle"
  avatar : "/assets/images/Stolle_Kaj_IEIS.jpg"
  bio    : "PhD Student in Assistive Vibrotactile Technology for Navigation at Eindhoven University of Technology."
  links:
    - label: "University"
      icon: "fas fa-fw fa-flask" #Change to TU/e!
      url: "https://research.tue.nl/nl/persons/kaj-hp-stolle/"
    - label: "OrcID"
      icon: "fas fa-fw fa-book" #Change to Orc!!
      url: "https://orcid.org/0009-0005-9672-4605"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/kaj-stolle-311a2420a"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/KajSto"
 #   - label: "Instagram"
 #     icon: "fab fa-fw fa-instagram"
 #     url: "https://www.instagram.com/kajlikesstuff/"

footer:
  links:
    - label: "University"
      icon: "fas fa-fw fa-flask" #Change to TU/e!
      url: "https://research.tue.nl/nl/persons/kaj-hp-stolle/"
    - label: "OrcID"
      icon: "fas fa-fw fa-book" #Change to Orc!!
      url: "https://orcid.org/0009-0005-9672-4605"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/kaj-stolle-311a2420a"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/KajSto"
  #  - label: "Instagram"
  #    icon: "fab fa-fw fa-instagram"
  #    url: "https://www.instagram.com/kajlikesstuff/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
